body {
  background-color: rgb(50, 50, 50);
  color: rgb(200, 200, 200);
  margin: 0px;
  padding: 0px;
}

/* Temporary */

.home-temp a {
  color: white;
}

/* Start of Head and Nav */
div.header-nav a:hover {
  text-decoration: underline;
}

/* Controls all divs in the .header-nav class (additional info - "a" tag for the anchors) */
div.header-nav a {
  text-decoration: none;
}

/* Anchor color */
div.header-nav header a {
  color: rgb(180, 180, 0);
}
div.header-nav ul a {
  color: white;
}

/* Controls the header, ("bello.") */
div.header-nav header {
  background-color: yellow;
  margin: 0px;
  padding-left: 20px;
  font-size: 45px;
}

/* Controls the nav */
div.header-nav ul {
  background-color: purple;
  margin-top: 0;
  padding: 2px;
  text-align: center;
  text-transform: uppercase;
}

div.header-nav li {
  background-color: rgb(100, 0, 100);
  padding: 5px;
  font-size: 20px;
  list-style: none;
  display: inline-block;
  margin-right: 80px;
  border-radius: 5px;
}

/* Media Queries */

@media screen and (max-width: 900px) {
  div.header-nav ul {
    text-align: left;
    display: none;
    /* Temporary ^ display:none for mobile. Change it later */
  }
}

/* End of Header and Nav */

/* Start of Main */

div.main-one h1 {
  text-align: center;
}

div.main-one main h2 {
  /*  background-color: green; */
  margin-right: 5px;
  margin-left: 5px;
}

div.main-one main p {
  /*  background-color: orange; */
  margin-right: 5px;
  margin-left: 5px;
}

/* End of Main */

figure {
  height: 200px;
  width: auto;
  text-align: center;
  display: inline-block;
}

img {
  margin-left: 5px;
  width: 190px;
  border-radius: 10px;
}

/* Media queries */

@media screen and (max-width: 900px) {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
}

/* Questions class ul and ol */

div.blog ul a {
  font-size: 30px;
  color: white;
}

ol.questions li {
  font-size: 25px;
  font-weight: bold;
  margin-top: 60px;
}

ol.questions span {
  font-weight: bold;
  background-color: darkslategray;
}

ul.questions li {
  font-size: 25px;
  font-weight: bold;
  margin-top: 60px;
}

/* Temporary */
p {
  font-size: 20px;
}

table {
  width: 50%;
  border: 1px solid;
}

table td {
  border: 1px solid;
}
